%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="/tmp/#{@video.large_cover_url}")
      .video_info.span3
        %header
          %h3
            = @video.title
          - if @video.average_rating
            %span Rating: #{@video.average_rating}
          - else 
            %span Rating: Be the first to review this video!
        %p 
          = @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - unless @video.queued?(current_user)
            = link_to "+ My Queue", video_queue_items_path(@video), method: 'post', class: 'btn'

%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for [@video, Review.new] do |f|
        %fieldset
          = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]}), label: "Rate this video"
          = f.text_area :description, label: "Write Review", rows: 6, class: 'span6'
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating}
                %p 
                  by
                  = link_to "#{review.reviewer_name}", user_path(review.user)
              .span8
                %p #{review.description}